
@import "partials/animation.scss";
@import "partials/navbar.scss";
@import "partials/hero-section.scss";
@import "partials/improve-section.scss";
@import "partials/quote-section.scss";
@import "partials/chief-section.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #fff;
    --backgroud-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #000000;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed:1;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;

}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 9px var(--shadow-color);
    font-weight: bold;
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.main{
    padding-block: 3vh;
}
.section{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    flex-wrap: wrap;
    .title{
        color: var(--text-color);
        font-size: 3em;
        margin-bottom: .25em;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        margin-bottom: 1.25em;
        line-height: 1.3em;
        letter-spacing: 1px;
    }
    .col{
        width: 50%;
    }
}
.container
{
    padding-inline: 25vw;  
}


@media screen and (max-width:1280px){
    .container
    {
        padding-inline: 18vw;  
    }
    
}

@media screen and (max-width:1050px){
    .container
    {
        padding-inline: 12vw;  
    }
}

@media screen and (max-width:768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }

    .chief-card-info{
        box-shadow: 0 3px 6px var(--shadow-color);
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }
    .skill-item{
        display: inline-block;
        margin: .75em;
    }
    .section.improve-skills .btn
    {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .container
    {
        padding-inline: 6vw;  
    }
    .footer{
       grid-template-columns: repeat(4,1fr);
       .footer-section{
        &:nth-child(1)
        {
            grid-column: span 4;
        }
        &:nth-child(2),&:nth-child(3){
            grid-column: span 2;
        }
       }
    }
}
    
@media screen and (max-width:480px){
    .container
    {
        padding-inline: 3vw;  
    }
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  


.footer{
    background-color: #0f0f0f;
    color: white;
    padding-block:1em;
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
    grid-gap:1em;
    .footer-section{
    .links{
        display: grid;
        grid-template-columns: 1fr;
        a{
            opacity: .9;
            margin-bottom: .5em;
            color: #fff;
            &:hover{
                color: var(--primary-color);
                font-size: larger;
            }
        }
    }
    p{
        opacity: .9;
        margin-bottom: .5em;
    }
    p.title{
        opacity: 1;
        font-weight: bold;
        margin-bottom: 1em;
        font-size: 1.1em;
    }
    
    }
}