@import "partials/animation.scss";
@import "partials/navbar.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #fff;
    --backgroud-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #000000;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed:1;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;

}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 9px var(--shadow-color);
    font-weight: bold;
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.main{
    padding-block: 3vh;
}
.section{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    flex-wrap: wrap;
    .title{
        color: var(--text-color);
        font-size: 3em;
        margin-bottom: .25em;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        margin-bottom: 1.25em;
        line-height: 1.3em;
        letter-spacing: 1px;
    }
    .col{
        width: 50%;
    }
}
.container
{
    padding-inline: 25vw;  
}


@media screen and (max-width:1280px){
    .container
    {
        padding-inline: 18vw;  
    }
    
}

@media screen and (max-width:1050px){
    .container
    {
        padding-inline: 12vw;  
    }
}

@media screen and (max-width:768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }

    .chief-card-info{
        box-shadow: 0 3px 6px var(--shadow-color);
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }
    .skill-item{
        display: inline-block;
        margin: .75em;
    }
    .section.improve-skills .btn
    {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .container
    {
        padding-inline: 6vw;  
    }
    .footer{
       grid-template-columns: repeat(4,1fr);
       .footer-section{
        &:nth-child(1)
        {
            grid-column: span 4;
        }
        &:nth-child(2),&:nth-child(3){
            grid-column: span 2;
        }
       }
    }
}
    
@media screen and (max-width:480px){
    .container
    {
        padding-inline: 3vw;  
    }
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

@import "partials/hero-section.scss";
@import "partials/improve-section.scss";
@import "partials/quote-section.scss";
@import "partials/chief-section.scss";
@import "partials/footer.scss";
@import "partials/previous-searches";


.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    grid-gap: 1.5em;
}

.recipe-card{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    .recipe-card-info{
        padding: 15px;
    }
    .custom-image{
        z-index: -1;
    }
    .author-img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--backgroud-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;
    }
    .recipe-title{
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
    }
    .recipe-desc{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
    }
    .view-btn{
       font-size: 1em;
       font-weight: bold;
       color: var(--primary-color);
       margin-top: .75em;
       display: inline-block;
    }
}

